/* Google FontsからPoppinsフォントをインポートし、様々なフォントの重さを利用できるようにします。 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* 全てのHTML要素のデフォルトのマージン、パディングをリセットし、フォントファミリーをPoppinsに設定します。 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* bodyタグのスタイリングで、中央寄せのデザインを実現し、背景色を黒に設定します。 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

/* メインボックスのスタイルを設定し、新たな入力フィールドに合わせて高さを500pxに調整します。 */
.main-box {
    position: relative;
    width: 400px;
    height: 500px; /* 高さを500pxに増加 */
    background: #191919;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* h2要素にスタイリングを適用し、白色のテキストで中央揃えを指定します。 */
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: .5s ease;
}

/* 紫色のテキストを指定するクラスです。 */
.purple {
    color: purple;
}

/* h4タグのフォントサイズ、色、配置を定義します。 */
h4 {
    font-size: 1em;
    color: #fff;
    text-align: center;
    transition: .5s ease;
}

/* 入力ボックスのスタイリングで、マージンを調整し全てのフィールドに適合させます。 */
.input-box {
    position: relative;
    width: 310px;
    margin: 20px 0; /* マージンを20pxに調整 */
    border-bottom: 2px solid #fff;
}

/* 入力ボックス内のラベルのスタイリングです。 */
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

/* フォーカスがある時やプレースホルダが表示されていない時のラベルの動きを定義します。 */
.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    top: -5px;
    opacity: 0;
    visibility: hidden;
}

/* 入力フィールドのスタイリングです。 */
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

/* 入力ボックスのアイコン位置を指定します。 */
.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
    transition: .5s ease;
}

/* ボタンのデザインを指定します。 */
button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: .5s ease;
}

/* ページ間リンクのスタイルを定義します。 */
.link-change-page {
    color: #fff;
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    transition: .5s ease;
}

/* リンクにホバー効果を追加し、ホバー時に下線を表示します。 */
.link-change-page p a {
    color: purple;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s ease;
}

.link-change-page p a:hover {
    text-decoration: underline;
}

/* フェードアウトアニメーションのキーフレームを定義します。 */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* fade-outクラスが適用された要素にフェードアウトアニメーションを設定します。 */
.fade-out {
    animation: fadeOut 10s forwards;
}
