<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ</title>
    <link rel="stylesheet" th:href="@{/css/blog_list.css}">
</head>
<body>
    <div class="main-box">
        <h1 th:text="${Name} + 'のブログ'">ブログの一覧</h1>
        <a th:href="@{/blog/register}"><h4><span style="color: rgb(241, 70, 241);">ブログをつくる</span></h4></a>
        <div id="blogList">
            <div th:each="blog : ${blogs}" class="blogItem" th:data-id="${blog.postId}">
                <h2 th:text="${blog.title}">ブログタイトル</h2>
                <p th:text="${#strings.abbreviate(blog.content, 100)}">ブログ内容のスニペット</p>
                <p>
                    <a th:href="@{/blog/editing(id=${blog.postId})}">編集</a> |
                    <a href="#" th:onclick="'deleteBlogItem(' + ${blog.postId} + ')'">削除</a>
                </p>
            </div>
        </div>
    </div>

    <script>
        function deleteBlogItem(id) {
            const blogItem = document.querySelector(`.blogItem[data-id='${id}']`);
            if (blogItem) {
                blogItem.remove();
            }
        }
    </script>
</body>
</html>
